.menu-items-column {
    display : flex;
    flex-direction : column;
}

.nav-link, .nav-link-selected {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selected-pointer {
    /* width : 8px;
    height: 7px;
    border-radius: 50%;
    background-color: #152837; */
    width: 0px;
    height: 0px;
    border-left: 10px solid #152837;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}